<h1>Recipe Box</h1>
<br>
<!-- <h3>///////////////////</h3> -->
  <h2>Search:</h2>

  <form action ="/search_ingredient" method = "post">
    <input type = "text" name = "search_ingredient">
    <button type ="submit">Submit</button>
  </form>

  <form action="/search_tag" method="post">
    <label for="search_tag">Filter by recipe Tag: </label>
    <select name = 'search_tag'>
      <%@tags.each do |tag|%>
        <option value = "<%=tag.id%>"><%=tag.tag%></option>
        <%end%>
    </select>
    <button type="submit">Search</button>
  </form>

<%if @search%>
  <% if @recipes_sorted.any? %>
    <h2>Here are your Found Recipes:</h2>

    <% @recipes_sorted.each do |recipe| %>
      <h3><a href="/recipe/<%= recipe.id %>"><%= recipe.recipe %><%= '⭐' * recipe.rating.to_i %></a></h3>
    <% end %>

    <% else %>
      <h2>There are no Recipes yet!</h2>
    <% end %>

<!-- <h3>///////////////////</h3> -->
  <%else%>
<% if @recipes.any? %>
  <h2>Here are your Recipes:</h2>

  <% @recipes.order(rating: :desc).each() do |recipe| %>
    <h3><a href="/recipe/<%= recipe.id %>"><%= recipe.recipe %><%= '⭐' * recipe.rating.to_i %></a></h3>
  <% end %>

  <% else %>
    <h2>There are no Recipes yet!</h2>
  <% end %>
  <%end%>


<form action = '/' method = 'post'>
  <label for 'recipe'>Add a recipe:</label>
  <input type="text" name="recipe">
  <label for 'instructions'>Add Instructions: </label>
  <textarea name="instructions" cols="50" rows="5"></textarea>
  <label for="rating"></label>
  <select name="rating">
    <option value="1">⭐</option>
    <option value="2">⭐⭐</option>
    <option value="3">⭐⭐⭐</option>
    <option value="4">⭐⭐⭐⭐</option>
    <option value="5">⭐⭐⭐⭐⭐</option>
  </select>
  <button type='submit'>Add Recipe</button>
</form>
<br>
<a href="/tag">Add a Tag</a>
