<h1><%= @recipe.recipe %></h1>

<h3>Tags:</h3>
<% @tags.each do |tag| %>
  <p><%= tag.tag %></p>
<%end%>

<h3>Ingredients:</h3>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.ingredient %></p>
<%end%>

<h3>Instructions:</h3>
<p><%= @recipe.instructions %></p>

<a href= '/recipe/<%=@recipe.id%>/tag'>Add Tag</a>

<a href= '/recipe/<%=@recipe.id%>/ingredient'>Add Ingredients</a>
