<h2>Search:</h2>
<form action="/search_tag" method="post">
  <label for="search_tag">Search for Ingredients</label>
  <select name = 'search_tag'>
    <%@tags.each do |tag|%>
      <option value = "<%=tag.id%>"><%=tag.tag%></option>
      <%end%>
  </select>
  <button type="submit">Search</button>
</form>

<% if @recipes.any? %>
  <h2>Here are your Recipes:</h2>

  <% @recipes.each do |recipe| %>
    <h3><a href="/recipe/<%= recipe.id %>"><%= recipe.recipe %><%= 'â­' * recipe.rating.to_i %></a></h3>
  <% end %>

  <% else %>
    <h2>There are no Recipes yet!</h2>
  <% end %>
